* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    height: 80px;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-left: 80px;
}

.logo {
    height: 100px;
    padding-right: 10px;
}
h1 {
    display: flex;
    font-style: italic;
    font-size: 60px;
    color: #00b4d8;
    font-weight: 500;
    line-height: 66px;
}

.navigation-home {
    color: orange;
}

.navigation__links {
    display: flex;
    align-items: center;
    padding-left: 240px;
    gap: 60px;
}

.navigation__links li a {
    font-size: 18px;
    color: #023e8a;
    cursor: pointer;
}

/* Hero Section */

.hero-section__container {
    margin: 0 auto;
    padding-top: 30px;
}

.hero-section__background {
    padding: 300px;
    margin: 0 auto;
    background-image: url(./assets/travel.jpg);
}

.hero-section__descr h2 {
    color: #023e8a;
    font-size: 80px;
    line-height: 88px;
    margin-bottom: 15px;
    text-align: left;
}

.hero-section__descr h3 {
    color: #023e8a;
    font-size: 90px;
    line-height: 99px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}

/*about-section*/

.about-section {
    background-color: #caf0f8;
    padding-top: 120px;
}

.about-section__container {
    margin: 0 auto;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-section__container__left {
    width: 60%;
}

.about-section__container__right {
    width: 40%;
}

.about-section__video {
    width: 100%;
    height: auto;
}

.about-section__container h2 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #03045e;
    margin-left: 10px;
}

.about-section__container p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #03045e;
    margin-left: 10px;
}

/* top-destination */

.top-destinations {
    padding-top: 100px;
    background-color: whitesmoke;
}

.top-destinations h2 {
    padding-left: 140px;
    font-size: 30px;
    color: #023e8a;
    padding-bottom: 20px;
}

.top-destinations__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #03045e;
    border-radius: 70px;
    margin-bottom: 30px;
    background-color: #caf0f8;
}

.top-destinations__links__left {
    width: 80%;
}
.top-destinations__links__right {
    width: 20%;
    padding-right: 80px;
    padding-left: 20px;
}

.top-destinations__links img {
    width: 100%;
    height: auto;
}
/* Destiantion Section */

.destination-section__header {
    padding-top: 50px;
}
.destination-section__header h1 {
    font-style: normal;
    font-size: 60px;
    color: #03045e;
    font-weight: 500;
    line-height: 55px;
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #caf0f8;
}

.destination-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

.destination-table {
    border-collapse: collapse;
    width: 100%;
}

.destination-table th {
    background-color: #00b4d8;
    color: #03045e;
}

.destination-table td,
th {
    text-align: center;
    border: 2px solid #023e8a;
    padding: 10px;
}

.destination-table td {
    background-color: whitesmoke;
}

/*Additional Section */

.additional-section__container {
    max-width: 1440px;
    padding: 80px;
    margin: 0 auto;
    background-color: #caf0f8;
}

.additional-section__items {
    display: flex;
    gap: 40px;
    padding-bottom: 80px;
}

.additional-section__left {
    width: 50%;
}

.additional-section__left iframe {
    width: 100%;
    height: 100%;
}

.additional-section__right {
    width: 50%;
}

.additional-section__right h3 {
    font-size: 40px;
    line-height: 44px;
    color: #0077b6;
    margin-bottom: 20px;
}

.additional-section__dl dt {
    color: #03045e;
    font-size: 20px;
}

.additional-section__dl dd {
    padding-left: 20px;
    color: #023e8a;
    font-size: 16px;
    padding-bottom: 8px;
}

/* Contact Section */

.contact-section__header {
    padding-top: 50px;
}
.contact-section__header h1 {
    font-style: normal;
    font-size: 50px;
    color: #03045e;
    font-weight: 500;
    line-height: 55px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #caf0f8;
}

.contact-section__header h2 {
    font-style: normal;
    font-size: 30px;
    color: #03045e;
    line-height: 55px;
    padding-left: 550px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.contact-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

.contact-section__table {
    border-collapse: collapse;
    width: 100%;
}

.contact-section__table th {
    background-color: #00b4d8;
    color: #03045e;
}

.contact-section__table td,
th {
    text-align: center;
    border: 2px solid #023e8a;
    padding: 10px;
}

.contact-section__table td {
    background-color: whitesmoke;
}

/* Form Section */

.form-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.form-section__container__left {
    width: 50%;
}

.form-section__form {
    background-color: #caf0f8;
    border-radius: 20px;
    padding: 20px;
}

.form-section__form h3 {
    font-size: 30px;
    line-height: 33px;
    color: #03045e;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

#firstNameInput,
#lastNameInput,
#emailInput,
#phoneNumberInput,
#preferredDestinationSelect {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.form-content input[type="checkbox"] {
    cursor: pointer;
}

.form-checkbox {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}

.form-checkbox h5 {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.submit-input {
    width: 100%;
    font-size: 18px;
    background-color: #0077b6;
    color: #ffffff;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-input:hover {
    background-color: #3693c5;
}

.form-radio h5 {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.form-radio {
    margin-left: 30px;
}

.form-textarea label {
    font-size: 17px;
    line-height: 40px;
}

.form-textarea textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
}

.form-section__container__right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.form-section__container__right h4 {
    font-size: 30px;
    line-height: 33px;
    color: #03045e;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.icon {
    width: calc((100% - 40px) / 2);
    padding-left: 100px;
    padding-right: 10px;
    border-radius: 15px;
}

.icon img {
    width: auto;
    height: 80px;
}

.icon h5 {
    font-size: 30px;
    line-height: 33px;
    color: #03045e;
    padding-top: 25px;
    padding-bottom: 10px;
}
